{
    "presets": [
        [
            "@nrwl/react/babel",
            {
                "runtime": "automatic"
            }
        ]
    ],
    "plugins": [["@emotion/styled", { "pure": true, "ssr": true }]]
}
